/*noinspection CssUnknownTarget*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;500&family=Montserrat:wght@700&display=swap");

* {
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    color: rgba(26, 26, 26, .7);
}

/*CSS global, header, footer */
html,
body {
    margin: 0;
    padding: 0;
}

p {
    text-align: justify;
    line-height: 1.75;
}


/* header */
nav {

    color: black;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;

}

.btn-src {
    color: #333;
    border: 1px solid black;
    background-color: white;
    text-align: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.main-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
}

.main-nav li {
    padding: 0 16px;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.main-header {
    background-color: rgba(0, 0, 0, 0.2);
    background-image: url("../assets/back/header.png");
    background-blend-mode: multiply;
    background-size: cover;
    min-height: 300px;
    background-position: center;
    padding-bottom: 30px;


    /* Disable to stop sticky scroll header */
    position: sticky;
    top: 0;
    z-index: 10000;

}

/*CSS custom text elements */
.blog-name {
    text-align: center;
    margin: 0;
    padding-left: .25rem;
    font-size: 2em;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1em;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.blog-name-large {
    font-size: 3em;
}

.blog-subtitle {
    text-align: center;
    margin: 10px auto;
    padding-left: .25rem;
    font-size: 1.5em;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-style: italic;
    line-height: 1.5em;
    color: white;
    text-transform: none;
    letter-spacing: 0.05em;
}

.content-section {
    margin: 1em;
}

.content-section p {
    padding-top: 0.5em;
    padding-bottom: .5em;
}

.loc-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}


.section-header {
    color: #333;
    text-align: left;
    font-size: 3em;
    font-weight: 900;
    padding-top: .5em;
}

.section-header-group {
    color: #333;
    text-align: center;
    font-size: 3em;
    font-weight: 900;
    padding-top: .5em;
}

/* footer */
.main-footer {
    background-color: rgba(0, 0, 0, 0.2);
    background-image: url("../assets/back/footer.png");
    background-blend-mode: multiply;
    background-size: cover;
    margin-top: 2em;
    min-height: 200px;
}

.main-footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 0.5em;
}

.footer-nav img {
    width: 30px;
    height: 30px;
}

/*CSS index */
.button {
    color: black;
    border: solid black;
    background-color: beige;
    text-align: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.entry-row {
    border-bottom: 1px solid black;
    padding: 0.75em;
    margin-bottom: 0.75em;
}

.entry-row:last-child {
    border-bottom: none;
}

.entry-element {
    padding: 0.5em;
    display: inline-block;
}

.entry-head-desc {
    align-content: center;
    color: #333;
    font-weight: bold;
    width: 30%;
}

.entry-ship {
    color: #333;
    font-weight: bold;
    width: 24%;
}

.entry-desc {
    width: 49%;
}

.entry-class {
    width: 24%;
}

.entry-btn {
    width: 12%;
    border-radius: 00.25em;
    font-weight: bold;
}

.entry-btn:hover {
    background-color: darkgray;
    color: black;
}

/*CSS shipgroup */

.category-title {
    display: block;
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.category-image {
    width: 60px;
    height: 35px;
}

.category-entries {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
}

/* page html */
.detail-image {
    float: right;
    width: fit-content;
    margin: 15px;
}

.summary {
    color: #333;
    font-weight: bold;
}

.header-select {
    font-size: 0.5em;
    color: white;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: right;
    justify-content: right;
    line-height: 1em;
}

.header-select:hover {
    color: white;

}

/*css bootstrap customization */
.footer-sect {
    font-size: 1em;
    color: white;
    font-weight: 200;
    font-family: Montserrat, sans-serif;
    letter-spacing: 1px;
    text-transform: none;
    text-decoration: none;
    text-align: center;
    line-height: 1em;
    padding-top: 0.5em;
}

.loc-card-img {
    height: auto;
    width:100%;

}

.loc-flag-img {
    max-height: 128px;
    max-width: 100%;
    /*transform: scale(.75);*/
}

.loc-related-heading {
    font-family: "Montserrat", sans-serif;
    size: 0.5em;
    font-weight: 200;
    letter-spacing: 1px;
    text-transform: none;
    text-decoration: none;
    line-height: 1em;
    color: black;
    border-bottom: 1px solid black;
    padding-top: 0.5em;


}

.card-width {
    width: 50%;
}

.tooglelist-btn {
    margin-top: 1em;
    border-radius: 00.25em;
    font-size: 1em;
    font-weight: 400;
}

.tooglelist-btn:hover {
    background-color: darkgray;
    color: black;
}


.tablebtn:hover {
    background-color: darkgray;
    color: black;
}

.carousel-height {
    height: 500px;
    position: relative;
}

.carousel-img {
    object-fit: cover;
}

.related-content-img {
    padding: 1em;
}

.card-img-top{
    width:100%;
    height:auto;
}

.card-img-container{
    height: 128px;
    padding: 5px;
}

@media only screen and (min-width: 576px) {
    .loc-card-img {
        height: 173px;
    }
}


.generated_table {
    padding-bottom: 1em;
    padding-top: 1em;
}