# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.~5593cbc13a4bc6ed-5593CBC13A4BC6ED!41693-2cf606.insyncdl
/.~5593cbc13a4bc6ed-5593CBC13A4BC6ED!41693-7cd826.insyncdl
